Package: xwiki-pro-mysql-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-pro-common (= [[version]]), mysql-server | default-mysql-server | mariadb-server, libmysql-java (>= 5.1.4), dbconfig-common
Provides: xwiki-database
Suggests: xwiki-pro-tomcat7-mysql | xwiki-pro-tomcat8-mysql
Replaces: xwiki-database
Conflicts: xwiki-enterprise-database, xwiki-enterprise-mysql-common, xwiki-mysql-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
