Package: xwiki-pro-tomcat8-pgsql
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-pro-pgsql-common (= [[version]]), xwiki-pro-tomcat8-common (= [[version]])
Conflicts: xwiki-enterprise-tomcat8-pgsql, xwiki-tomcat8-pgsql
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
