Package: xwiki-pro-tomcat7-common
Version: [[version]]
Section: java
Priority: optional
Architecture: all
Depends: xwiki-pro-common (= [[version]]), tomcat7
Provides: xwiki-tomcat-common
Suggests: xwiki-pro-tomcat7-mysql | xwiki-pro-tomcat7-pgsql
Conflicts: xwiki-enterprise-tomcat7-common, xwiki-tomcat7-common
Maintainer: [[debian.maintainer]]
License: [[debian.license]]
Description: [[debian.description]]
Bugs: [[debian.bugs]]
Homepage: [[debian.homepage]]
